{% extends 'base.html.twig' %}

{% block navbar %}

    <style media="screen">
        *{
            font-family: 'Poppins',sans-serif;
        }
        table{
            width: 20%;
        }
        ul{
            padding-top: 20px;
            background-color: #23272A;
        }
         ul li{
             text-align: center;
             color: white;
         }
        #mesdoc{
            padding-left: 5%;
            color: white;
        }
        #filesnames li{
            margin: 20px 0 20px 0;
            display: flex;
            font-size: 20px;
        }

        #link{
            color: white;
            width: 55%;
            flex-grow: 5;
            text-align: center;
        }

        #filesnames li #trash{
            width: 6%;
            margin-left: 7%;
        }
        #trash img{
            width: 100%;
        }

        #logout{
                margin-top: 30px;
                margin-bottom: 25px;
                width: 60%;
                color: #080710;
                padding: 15px 0;
                font-size: 18px;
                font-weight: 600;
                border: 0;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.3s;
        }
        #logout:hover {opacity: 0.6}

        #newfile{
            display: flex;
            justify-content: center;
        }

        #setup{
            width: 15%;
            background-color: #ffffff;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        #setup:hover {opacity: 0.6}
    </style>
<table>
    <ul>
        <li>Vous êtes connecté(e) en tant que {{ utilisateur }}</li>
        <li>
            <form action="http://127.0.0.1:8000/logout">
                <button id="logout" type="submit">Se déconnecter</button>
            </form>
        </li>
        {% block liste %}
            <span id="mesdoc">Mes documentations :</span>
            <div id="filesnames">
            {% for i in files %}
                <li id="file">
                    <a id="link" href="/file/{{ i.name }}">{{ i.name }}</a>
                    <a id="trash" href="/file/delete/{{ i.id }}"><img src="{{ asset('css/img/poubelle.png') }}" alt="trash"></a>
                    <a id="trash" href="{{ path('modify_file', {'name': i.name }) }}"><img src="{{ asset('css/img/pen.png') }}" alt="pen"></a>
                </li>
            {% endfor %}
                <li id="newfile">
                    <form action="http://127.0.0.1:8000/setup">
                        <button id="setup" type="submit"> + </button>
                    </form>
                </li>
            </div>
        {% endblock %}
    </ul>
</table>
{% endblock %}
